<div class="box">
    <div class="row">
        <div class="col-md-5 col-sm-12">
            <img src="{{data.image}}" alt="sas">
        </div>
        <div class="col-md-7 col-sm-12">
            <div class="info">
                <ul class="list-unstyled">
                    <li><strong>Title : </strong>{{data.nom}}</li>
                    <li><strong>Description : </strong>{{data.description}}</li>
                    <li><strong>Price : </strong>{{data.prix}} DT</li>
                </ul>
            </div>
        </div>
    </div>
    
</div>